.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-menu-bar{
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.App-link{
  text-decoration: none;
 color: #FFFFFF;
}

.App-current-link{
  color:#61dafb;;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
